h1{
  margin-top: 3cm;
  color: green;
  text-align: center;

  
}
body{
  margin-top: 3cm;
  /*background-image: url('/static/images/509099.jpg');*/
   
} 
.container{
  margin: 0 auto;
  width: 600px;
  background-color: #fff;
}
.btn2{
  display: inline-block;
  background-color: green;
  color: #fff;
  padding: 18px;
  border-radius: 20px;
  min-width: 180px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
a{
  color:red;
}

.user-detail{
  background-color: #fff;
}
.contact{
  color: green;
}
label{
 position: absolute;
  left: 18px;
  top: 15px;
}
ul{
  list-style-type: none;
  padding: 0;
  padding-bottom: 10px;
}
li {
    position: relative;
    padding-left: 150px;
    border: 1px solid #d0d0d0;
    margin-bottom: 10px;
}
input {
    padding: 16px 10px;
    border: none;
    border-left: 1px solid #d0d0d0;
    width: 100%;
}
.submit{
  text-align: center;
}
.btn{
  background-color: green;
  color: #fff;
  padding: 19px 71px;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
}
.button {
  margin-left: 415px;
}
.higher {
  width: 100%;
  display: inline-flex;
  padding-left: 30px;

}
.radioa {
  width: 7%;

}
select#country {
    padding: 16px;
    width: 100%;
    color: green;
    border: none;
    background-color: #fff;
    border-left: 1px solid #d0d0d0;
}
img{
  margin-left: 100px;
}
.image1{
  
  background-image: url('/static/images/add.png');
   
}
.btn1{
  background-color: green;
  color: #fff;
  padding: 12px 12px;
  display: inline-block;
  text-decoration: none;
  border-radius: 77px;
  margin-left: 130px;
}

#button{
  background-color: green;
}
#err_name{
  color: red;
  border-left: 1px solid #d0d0d0;
  padding: 16px 10px;
  border: none;
  width: 100%;

}
#err_email{
  color: red;
  border-left: 1px solid #d0d0d0;
  padding: 16px 10px;
  border: none;
  width: 100%;

}
#err_phone{
  color: red;
  border-left: 1px solid #d0d0d0;
  padding: 16px 10px;
  border: none;
  width: 100%;

}
#err_city{
  color: red;
  border-left: 1px solid #d0d0d0;
  padding: 16px 10px;
  border: none;
  width: 100%;

}
#err_country{
  color: red;
  border-left: 1px solid #d0d0d0;
  padding: 16px 10px;
  border: none;
  width: 100%;

}
