{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" href="{% static 'Css/qualification.css' %}">
</head>
<body>
  <form action="{% url 'app1:qualification_view' %}" method="post" name="user_details" novalidate>
        {% csrf_token %}
  <div class="user-detail">
    <div class="container">
      <div class="btnimg">
      <a href="/user_detail/" class="btn1"></a>
      <a href="/qualification/" class="btn1"></a> 
      <a href="/preview/" class="btn1"></a>
      </div>
      <h1>Qualification</h1> 
      <div class="contact">
          <ul>
              <li><label>School Name</label><input type="text" placeholder="Enter Your Xth School Name"/></li>
              <li><label>Marks</label><input type="text" placeholder="Enter your Xth Percentage"/></li>
          </ul>
          <div class="higher">
              Higher Secondary : 
                 XII:<input type="radio" class="radioa"id="radio2" name="gender" value='2'>
              Diplomo:<input type="radio" class="radioa" id="radio3"name="gender" value='3'>
          </div>
          <div class="rdiodown">
          <ul>
              <li><label>School/College</label><input type="text" placeholder="Enter Your School/college Name"/></li>
              <li><label>Marks</label><input type="text" placeholder="Enter your Percentage"/></li>
          </ul>
        </div>
        <div class="img">
              <img src='/static/images/plus.png' > 
               Additional Qualification

        </div>
        <div class="additional" >
          <ul>
              <li><label>Course Name</label><input type="text" placeholder="Enter Your School/college Name"/></li>
              <li><label>Marks</label><input type="text" placeholder="Enter your Percentage"/></li>
          </ul>
        </div>  
        
        <div class="img1">
            <img src='/static/images/plus.png'>Additional Skills
        </div>
        <div class="skill">
          <ul>
              <li><label>Additional Skill</label><input type="text" placeholder="Additional skills"/></li>
          </ul>
        </div> 
        <div class="lang">
              <dl class="dropdown"> 
                  
                    <dt>
                    <a href="#">
                      <span class="hida">Select Your Language</span>    
                      <p class="multiSel"></p>  
                    </a>
                    </dt>
                  
                    <dd>
                        <div class="mutliSelect">
                            <ul>
                                <li>
                                    <input type="checkbox" value="Tamil" />Tamil</li>
                                <li>
                                    <input type="checkbox" value="English" />English</li>
                                <li>
                                    <input type="checkbox" value="Telugu" />Telugu</li>
                                <li>
                                    <input type="checkbox" value="Malayalam" />Malayalam</li>
                                <li>
                                    <input type="checkbox" value="Hindi" />Hindi</li>
                                <li>
                                    <input type="checkbox" value="Kannada" />Kannada</li>
                            </ul>
                        </div>
                    </dd>
                  
                </dl>
        </div>
      </div> 
    </div>
  </div>
    <script type="text/javascript" src="{% static 'Js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'Js/qualification.js' %}"></script>
</body>
</html> 